:root {
  --primarycolor: #ff8b98;
  --background-highlight: #414141;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

header {
  margin: 25px;
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-nav {
  font-size: 20px;
  width: fit-content;
}

.nav-button {
  margin-right: 10px;
  cursor: default;
}

#left-nav > .selected {
    color: var(--primarycolor);
}

#right-nav {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  width: fit-content;
}

#pfp {
  width: 50px;
  height: 50px;
  border-radius: 23423423px;
  object-fit: cover;
}

#filter-section {
  position: absolute;
  left: 6vw;
  top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 75vh;
  width: 200px;

  background-color: var(--background-highlight);
  padding: 30px;
  border-radius: 20px;
}

.filter-list > div {
  margin-left: 14px;
}

.filter-list > div > label {
  font-size: 20px;
}

.filter-checkbox {
  width: 15px;
  height: 15px;
  color: currentColor;
  border-radius: 2px;
  display: inline-grid;
  place-content: center;
  transform: translateY(-1px);
}

.filter-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 15px 15px var(--primarycolor);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#filter-price-range > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  gap: 5px;
}

#filter-price-range input {
  height: 30px;
  width: 30px;
  flex: 1;
  border: none;
  border-radius: 5px;
  background-color: #212121;
}

#filter-apply-button {
  background-color: var(--primarycolor);
  color: black;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  border-radius: 1123123px;
  font-weight: bold;
}

#games-list-section {
  position: absolute;
  right:5vw;
  top: 12vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* why this thing doesn't have any width and height */
#games-covers {
    height: fit-content;
    height: 28vh;
}

.game-cover {
  height: 28vh;
  width: 70vw;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  opacity: 100%;
  transition: 250ms;
}

.hidden-cover {
    opacity: 0%;
}

#games-grid-list {
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-item {
    height: fit-content;
}

.game-thumb {
}
