:root {
  --primarycolor: #f55;
  --background-highlight: #314151;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: #111;
  color: white;
  height: 100vh;
  width: 100vw;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

header {
  padding: 15px 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--background-highlight);
}

#left-nav {
  font-size: 20px;
  width: fit-content;
  margin-left: 45px;
}

.nav-button {
  padding-right: 10px;
  cursor: default;
}

#left-nav > .selected {
  color: var(--primarycolor);
}

#right-nav {
  padding-right: 45px;
  display: inline-flex;
  align-items: center;
  gap: 17px;
  width: fit-content;
}

#pfp {
  width: 50px;
  height: 50px;
  border-radius: 23423423px;
  object-fit: cover;
}

#filter-section {
  position: fixed;
  left: 6vw;
  top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 75vh;
  width: 200px;

  background-color: var(--background-highlight);
  padding: 30px;
  border-radius: 20px;
}

.filter-list > div {
  margin-left: 14px;
}

.filter-list > div > label {
  font-size: 20px;
}

.filter-checkbox {
  width: 15px;
  height: 15px;
  color: currentColor;
  border-radius: 2px;
  display: inline-grid;
  place-content: center;
  transform: translateY(-1px);
}

.filter-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 15px 15px var(--primarycolor);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#filter-price-range > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  gap: 5px;
}

#filter-price-range input {
  height: 30px;
  width: 30px;
  flex: 1;
  border: none;
  border-radius: 5px;
  background-color: #212121;
}

#filter-apply-button {
  background-color: var(--primarycolor);
  color: black;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  border-radius: 1123123px;
  font-weight: bold;
}

#games-list-section {
  position: absolute;
  right: 5vw;
  top: 12vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* why this thing doesn't have any width and height */
#games-covers {
  height: fit-content;
  height: 28vh;
}

.game-cover {
  height: 28vh;
  width: 70vw;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  opacity: 100%;
  transition: 250ms;
}

.hidden-cover {
  opacity: 0%;
}

#games-grid-list {
  margin: 0px 30px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.game-item {
  height: fit-content;
  padding: 20px;
  border-radius: 14px;
  background-color: var(--background-highlight);

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 6px;
}

.game-thumb {
  width: 350px;
  height: 320px;
  object-fit: cover;
  border-radius: 14px;
}

.thumb-1 {
  object-position: 0px -5px;
}

.thumb-2 {
  object-position: 0px -5px;
}

.game-name,
.platform-name,
.game-price {
  padding-left: 8px;
}

.game-name {
  margin-top: 6px;
  font-weight: bold;
  font-size: 18px;
}

.platform-name {
  font-weight: 600;
  color: #aaa;
}

.game-price {
  margin-top: 14px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-tag {
  font-size: 23px;
}

.add-cart-button {
  border-radius: 12312312px;
  background-color: var(--primarycolor);
  color: black;
  padding: 9px;
  font-size: 20px;
  font-weight: 300;
}
